<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <th:block th:include="fragments/head"></th:block>
    <title>Just Traditions - Registrazione</title>
    <link rel="stylesheet" href="https://unpkg.com/@adminkit/core@latest/dist/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/homeAmministratore">
                <span class="align-middle">Admin Just Traditions</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/homeAmministratore">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/logoutAmministratore">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Log out</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/visualizzazioneAmministratori">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Gestione Amministratori</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/visualizzazioneListaAnnunci">
                        <i class="align-middle" data-feather="inbox"></i> <span class="align-middle">Annunci</span>
                    </a>
                </li>
            </ul>
        </div>


    </nav>


    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <a><strong>BENVENUTO</strong>
                        <span th:text="${amministratore.nome} + ' '+ ${amministratore.cognome}"></span>
                    </a>
                </ul>
            </div>
        </nav>


        <br> <br>

        <center><h1>Registrazione</h1></center>

        <br> <br>
        <div class="container-fluid">
            <div class="row as-full d-flex justify-content-center">
                <div class="col-5 align-self-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nome</h5>
                            <form th:action="@{/aggiuntaAmministratore}" th:object="${aggiuntaAmministratoreForm}"
                                  method="post">
                                <div class="form-group">
                                    <input type="text" th:field="*{nome}" class="form-control" id="nome"
                                           placeholder="Nome" re
                                           quired="required">
                                    <div class=" d-inline invalid-feedback " th:if="${#fields.hasErrors('nome')}"
                                         th:errors="*{nome}"></div>
                                </div>

                                <h5 class="card-title"></i>Cognome</h5>

                                <div class="form-group">
                                    <input type="text" th:field="*{cognome}" class="form-control" id="cognome"
                                           placeholder="Cognome" required="required">
                                    <div class=" d-inline invalid-feedback  " th:if="${#fields.hasErrors('cognome')}"
                                         th:errors="*{cognome}"></div>
                                </div>

                                <h5 class="card-title">E-mail</h5>

                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="Enter email" required="required">
                                    <div class=" d-inline invalid-feedback  " th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}"></div>
                                </div>
                                <h5 class="card-title">Password</h5>
                                <div class="form-group">
                                    <input type="password" th:field="*{password}" class="form-control"
                                           id="exampleInputPassword1"
                                           placeholder="Password" required="required">
                                    <div class=" d-inline invalid-feedback  " th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}"></div>
                                </div>
                                <button type="submit" class="col-md-12 btn btn-success">Aggiungi Amministratore</button>

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <br><br>


    </div>
</div>
<th:block th:include="fragments/footbar"></th:block>
<th:block th:include="fragments/scripts"></th:block>
<script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>

</body>
</html>