<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<th:block th:include="fragments/head"></th:block>
    <title>Just Traditions - Sottometti Annuncio</title>
</head>
<body>
<th:block th:include="fragments/navbar"></th:block>

<div class="row justify-content-center">
    <div class="card card-register mx-auto mt-5 col-md-8">
        <div class="card-header text-center">Pubblicazione Annuncio</div>
        <div class="card-body" align="center">
            <form th:action="@{/sottomissioneAnnuncio}" th:object="${annuncioForm}" th:method="post" enctype="multipart/form-data">

                <!-- Nome attività -->
                <div class="form-group mb-3">
                    <label for="nomeAttivita">Nome Attività:</label>
                    <input type="text" th:field="*{nomeAttivita}" id="nomeAttivita" class="form-control" placeholder="Nome dell'attività" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('nomeAttivita')}" th:errors="*{nomeAttivita}"></div>
                </div>

                <!-- Descrizione -->
                <div class="form-group mb-3">
                    <label for="descAttivita">Descrizione:</label>
                    <textarea id="descAttivita" th:field="*{descrizione}" class="form-control" placeholder="Descrizione attività" rows="6" required></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
                </div>

                <!-- Giorni e fasce orarie -->
                <div class="form-group mb-3">
                    <label>Inserisci giorni e fasce orarie:</label>

                    <!-- Lunedì -->
                    <div class="container0">
                        <label>Lunedì</label>
                        <button class="add_form_field0"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).MONDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="MONDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Martedì -->
                    <div class="container1">
                        <label>Martedì</label>
                        <button class="add_form_field1"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).TUESDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="TUESDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Mercoledì -->
                    <div class="container2">
                        <label>Mercoledì</label>
                        <button class="add_form_field2"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).WEDNESDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="WEDNESDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Giovedì -->
                    <div class="container3">
                        <label>Giovedì</label>
                        <button class="add_form_field3"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).THURSDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="THURSDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Venerdì -->
                    <div class="container4">
                        <label>Venerdì</label>
                        <button class="add_form_field4"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).FRIDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="FRIDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Sabato -->
                    <div class="container5">
                        <label>Sabato</label>
                        <button class="add_form_field5"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).SATURDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="SATURDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Domenica -->
                    <div class="container6">
                        <label>Domenica</label>
                        <button class="add_form_field6"><i class="fa fa-plus-square"></i></button><br>
                        <th:block th:each="visita, iStat : ${annuncioForm.visite}">
                            <div th:if="${visita.giorno == T(java.time.DayOfWeek).SUNDAY}">
                                <input type="hidden" th:field="*{visite[__${iStat.index}__].giorno}" value="SUNDAY"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioInizio}"/>
                                <input type="time" th:field="*{visite[__${iStat.index}__].orarioFine}"/>
                                <a href="#" class="delete">x</a>
                                <div class="text-danger" th:if="${#fields.hasErrors('visite[__${iStat.index}__]')}" th:errors="*{visite[__${iStat.index}__]}"></div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!-- Indirizzo -->
                <div class="form-group mb-3">
                    <label for="indirizzo">Inserisci l'indirizzo:</label>
                    <input type="text" th:field="*{indirizzoAttivita}" id="indirizzo" class="form-control" placeholder="Inserisci l'indirizzo" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('indirizzoAttivita')}" th:errors="*{indirizzoAttivita}"></div>
                </div>

                <!-- Provincia -->
                <div class="form-group mb-3">
                    <label>Inserisci provincia</label>
                    <select th:field="*{provinciaAttivita}" class="form-control">
                        <option value="">Seleziona provincia</option>
                        <option th:each="provincia : ${@province.province}" th:value="${provincia}" th:text="${provincia}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('provinciaAttivita')}" th:errors="*{provinciaAttivita}"></div>
                </div>

                <!-- Servizi offerti -->
                <div class="form-group mb-3">
                    <label for="serviziAttivita">Servizi offerti:</label>
                    <input type="text" th:field="*{serviziOfferti}" id="serviziAttivita" class="form-control" placeholder="Servizi offerti" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('serviziOfferti')}" th:errors="*{serviziOfferti}"></div>
                </div>

                <!-- Foto -->
                <div class="form-group mb-3">
                    <label for="formFileSm">Inserisci foto</label>
                    <input class="form-control form-control-sm" type="file" multiple th:field="*{foto}" id="formFileSm" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></div>
                </div>

                <!-- Submit -->
                <input id="bottonSubmit" class="btn btn-primary btn-block" type="submit" value="Sottometti annuncio">

            </form>
        </div>
    </div>
</div>

<th:block th:include="fragments/footbar"></th:block>
<th:block th:include="fragments/scripts"></th:block>
<script src="/js/navbar.js"></script>
<script src="/js/sottomettiannuncio.js"></script>
</body>
</html>
