<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <th:block th:include="fragments/head"></th:block>
    <title>Just Traditions - I miei annunci</title>
</head>

<body>
<th:block th:include="fragments/navbar"></th:block>
<br><br> <br><br>
<div class="container">
    <div class="row">
        <div align="left">

            <button type="button" onclick="location.href='/sottomissioneAnnuncio'"
                    class="btn btn-sm btn-primary btn-create">Crea nuovo annuncio
            </button>

        </div>
        <div class="panel-body">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th>Nome attività</th>
                    <th>Stato</th>
                    <th>Indirizzo</th>
                    <th>Actions</th>
                    <th>Motivo Del Rifiuto</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="annuncio :${annunci}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    th:src="@{/img(id=${annuncio.getFoto().get(0).id})}"
                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-1" th:text="${annuncio.nomeAttivita}"></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span th:if="${annuncio.getStato()} == ${annuncio.stato.PROPOSTO}"
                              class="badge badge-primary rounded-pill d-inline">PROPOSTO</span>
                        <span th:if="${annuncio.getStato()} == ${annuncio.stato.IN_REVISIONE}"
                              class="badge badge-warning rounded-pill d-inline">IN REVISIONE</span>
                        <span th:if="${annuncio.getStato()} == ${annuncio.stato.APPROVATO}"
                              class="badge badge-success rounded-pill d-inline">APPROVATO</span>
                        <span th:if="${annuncio.getStato()} == ${annuncio.stato.RIFIUTATO}"
                              class="badge badge-danger rounded-pill d-inline">RIFIUTATO</span>
                    </td>
                    <td class="fw-bold mb-1" th:text="${annuncio.indirizzoAttivita}"></td>
                    <td>
                        <a th:if="${annuncio.getStato()} == ${annuncio.stato.RIFIUTATO} or ${annuncio.getStato()} == ${annuncio.stato.APPROVATO}"
                           th:href="@{/modificaAnnuncio(id=${annuncio.id})}" class="btn-ls"><em class="fa fa-pencil">Modifica
                            Annuncio</em></a><br><br>
                        <a th:if="${annuncio.getStato()}== ${annuncio.stato.APPROVATO}"
                           th:href="@{/visualizzazionePrenotazioniAnnuncio(idAnnuncio=${annuncio.id})}"
                           class="btn-ls"><em class="fa fa-user">Lista
                            Prenotazioni</em></a><br><br>
                        <a th:if="${annuncio.getStato()} == ${annuncio.stato.APPROVATO}"
                           th:href="@{/visualizzazioneDettagliAnnuncio(id=${annuncio.id})}" class="btn-ls"><em
                                class="fa fa-arrow-down">Dettagli
                            Annuncio</em></a><br><br>

                        <a th:href="@{/rimozioneAnnuncio(id=${annuncio.id})}" class="btn-ls btn-danger"><em
                                class="fa fa-trash">Elimina Annuncio</em></a>
                    </td>
                    <td th:if="${annuncio.getStato()} == ${annuncio.stato.RIFIUTATO}"><strong
                            th:text="${annuncio.motivoDelRifiuto}"> </strong></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


<th:block th:include="fragments/footbar"></th:block>

<th:block th:include="fragments/scripts"></th:block>
<script src="/js/navbar.js"></script>
</body>

</html>